<section class="b-our-store">
    <div class="container b-our-store__wapper">
        <div class="b-our-store__product">
            <div class="b-our-store__topic"><span style="line-height:1;">Meid&auml;n myym&auml;l&auml;mme</span></div>
            <!--<div class="b-store-product">
                          <div class="b-store-product__img"><img src="/pictures/css_new/img/book-item.jpg" alt="Книга"></div>
                          <div class="b-store-product__about">
                            <div class="b-store-product__topic">Неделя сатиры и юмора в Руслании 17-22.07.2017</div>
                            <div class="b-store-product__aftertopic">Сатирическая проза, шутки, анекдоты и биографии мэтров комедийного жанра</div>
                            <div class="b-store-product__btn-wrapper"><a class="b-store-product__btn" href="#">Подробнее</a></div>
                          </div>
                        </div>--></div>

        <div class="b-our-store__video-wrapper" style="float: left; margin-top: 20px; margin-left: 300px;">
            <div class="b-our-store__video"><iframe width="532" height="290" src="//www.youtube.com/embed/u1SNNwDvPBs" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
    </div>
</section>

<section class="b-about-shop">
    <div class="container b-about-shop__wrapper">
        <div class="b-about-shop__store">
            <div class="b-about-shop__topic">Myym&auml;l&auml;ss&auml; asiointi</div>

            <div class="b-about-shop__text">Vain osa tuotteista esill&auml;<br />
                Pid&auml;mme myym&auml;l&auml;ss&auml; rajoitetun tilan vuoksi esill&auml; vain osaa netiss&auml; n&auml;kyv&auml;st&auml; tuotevalikoimastamme. Jos tuotetta ei l&ouml;ydy myym&auml;l&auml;st&auml;, pyyd&auml; apua myyj&auml;lt&auml; - haluamasi tuote saattaa olla varaston puolella!</div>

            <div class="b-about-shop__img"><img src="/img/about-shop_item.jpg" /></div>
        </div>

        <div class="b-about-shop__products">
            <div class="b-about-shop__topic">Haluamasi tuotteet sinua odottamassa</div>

            <div class="b-about-shop__text">Voit tehd&auml; tilauksen ja valita sen toimitustavaksi noudon myym&auml;l&auml;st&auml;! T&auml;ll&auml; tavalla saat varmistettua, ett&auml; tilaamasi tuotteet l&ouml;ytyv&auml;t jo valmiiksi odottamasta sinua kun saavut myym&auml;l&auml;&auml;n - ota kuitenkin huomioon, ett&auml; tilaus k&auml;sitell&auml;&auml;n muiden nettitilausten joukossa, eik&auml; v&auml;ltt&auml;m&auml;tt&auml; ole viel&auml; saman p&auml;iv&auml;n aikana noudettavissa!<br />
                L&auml;het&auml;mme ilmoituksen tilauksen noutovalmiudesta s&auml;hk&ouml;postitse, tekstiviestill&auml; tai soitamme. Noutotilaukset ovat noudettavissa yleens&auml; 2-7 ty&ouml;p&auml;iv&auml;n aikana. S&auml;ilyt&auml;mme noutotilauksia viikon ajan tilausp&auml;iv&auml;st&auml;, jonka j&auml;lkeen tilaus puretaan ja palautetaan varastoon.</div>

            <div class="b-about-shop__img"><img style="margin-top: 25px;" src="/img/about-shop_item2.jpg" /></div>
        </div>
    </div>
</section>

<section class="b-city-line">
    <div class="container">
        <div class="b-city-line__text">Bulevardilta, Helsingin t&auml;rkeimm&auml;lt&auml; kulttuurikadulta, l&ouml;ytyy my&ouml;s kirjakauppa Ruslania.</div>

        <div class="b-city-line__text">Sloganimme &rdquo;Все весело и серезно! &ndash; kaikkea kivaa tosissaan&rdquo; kuvaa asennettamme bisnekseen: meilt&auml; on kiva ostaa ja otamme asiakkuutesi tosissamme.</div>
    </div>
</section>

<section class="b-triggers">
    <div class="container b-triggers__wrapper">
        <div class="b-triggers__list">
            <div class="b-trigger b-trigger_ruslania">
                <div class="b-trigger__topic">Ruslania</div>

                <div class="b-trigger__text">Vuonna 1986 perustettu helsinkil&auml;inen kirjakauppa Ruslania Books Oy on 100-prosenttisesti suomalainen perheyritys, joka tuo maahan ven&auml;l&auml;isi&auml; kirjoja, elokuvia, nuotteja, musiikkia ja lehti&auml;. Tarjoamme my&ouml;s ven&auml;l&auml;iset ja suomalaiset matkamuistot, kalenterit sek&auml; laadukkaita ven&auml;l&auml;isi&auml; elintarvikkeita ja juomia.</div>
            </div>

            <div class="b-trigger b-trigger_idea">
                <div class="b-trigger__topic">Idea</div>

                <div class="b-trigger__text">Ruslanian liikeideaan kuuluu se, ett&auml; pid&auml;mme valikoimissamme kaikki Suomessa ilmestyneet kirjat, jotka liittyv&auml;t jotenkin Ven&auml;j&auml;&auml;n, sek&auml; kaunokirjallisuuden k&auml;&auml;nn&ouml;kset ett&auml; tietokirjat. Myym&auml;l&auml;ss&auml; on maahantuojan hinnat. Tarjoamme tuotteitamme my&ouml;s kirjastoille ja kirjakaupoille.</div>
            </div>

            <div class="b-trigger b-trigger_team">
                <div class="b-trigger__topic">Tiimi</div>

                <div class="b-trigger__text">Henkil&ouml;kunta auttaa l&ouml;yt&auml;m&auml;&auml;n sopivia tuotteita, oli sitten kyse lahjavinkin antamisesta tai tietyn tuotteen etsimisest&auml; Ven&auml;j&auml;lt&auml; tai Suomesta. Konsultoimme my&ouml;s opettajia uuden opetusaineiston valinnassa ja toivotamme opiskelijaryhm&auml;t tervetulleiksi opintok&auml;ynnille!</div>
            </div>

            <div class="b-trigger b-trigger_store">
                <div class="b-trigger__topic">Myym&auml;l&auml;</div>

                <div class="b-trigger__text">Myym&auml;l&auml;st&auml; l&ouml;ytyy lukunurkkaus. Keit&auml;mme joka p&auml;iv&auml; tuoretta vihre&auml;&auml; teet&auml;, jota asiakkaamme saavat nauttia veloituksetta. Ruslanian kaikki tuotteet ovat uusia ja laadukkaita. Tervetuloa tutustumaan ja ostoksille. K&auml;yt&auml; henkil&ouml;kunnan asiantuntemus hy&ouml;dyksesi ja nauti kirjakaupan tunnelmasta!</div>
            </div>
        </div>

        <div class="b-triggers__list">
            <div class="b-trigger b-trigger_products">
                <div class="b-trigger__topic">Tuotteet</div>

                <div class="b-trigger__list-wrapper">
                    <div class="b-trigger__list-topic">Ruslanian myym&auml;l&auml;ss&auml; on omat osastot seuraaville tuotteille:</div>

                    <ul class="b-trigger__list">
                        <li>uutuudet ja teeman mukaiset esittelyt</li>
                        <li>matkamuistot</li>
                        <li>musiikki (laadukkaina CD-levyin&auml;)</li>
                        <li>nuotit (soittimittain esiteltyin&auml;)</li>
                        <li>elokuvat (suomenkielisin tai englanninkielisin tekstein) (kaikki maakoodivapaita)</li>
                        <li>lehdet</li>
                        <li>lastenkirjat</li>
                        <li>kaunokirjallisuus (ven&auml;l&auml;inen ja k&auml;&auml;nnetty)</li>
                        <li>Suomi-Ven&auml;j&auml;-Karjala-aiheinen tietokirjallisuus</li>
                        <li>historia</li>
                        <li>el&auml;m&auml;kerrat</li>
                        <li>vapaa-aika (ruoanlaitto, k&auml;sity&ouml;t, piha, perhe yms.)</li>
                        <li>sanakirjat</li>
                        <li>ven&auml;j&auml;n kielen ja suomen kielen oppikirjat</li>
                        <li>ven&auml;l&auml;isen koulun oppikirjat</li>
                        <li>ikoni- ja ortodoksikirjat</li>
                        <li>mystiikka, teosofia, rajatieto</li>
                        <li>psykologia</li>
                        <li>matkaoppaat</li>
                        <li>kartat</li>
                        <li>suomenkielinen kaunokirjallisuus</li>
                        <li>suomenkielinen tietokirjallisuus</li>
                        <li>suomenkielinen talouden alan tietokirjallisuus</li>
                        <li>alennusmyynti: kirjat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="b-triggers__last">
            <div class="b-trigger b-trigger_contacts">
                <div class="b-trigger__topic">Yhteystiedot</div>

                <div class="b-trigger__contacts-wrapper">
                    <div class="b-trigger__contacts-info">
                        <div class="b-trigger__tel-wrapper"><a class="b-trigger__tel" href="tel:+358503889439">+358 503889439</a></div>

                        <div class="b-trigger__tel-wrapper" style="margin-top: 0;"><a class="b-trigger__tel nonepic" href="">Puh. 09 2727070</a></div>

                        <div class="b-trigger__mail-wrapper"><a class="b-trigger__mail" href="mailto:customerservice@ruslania.com ">customerservice@ruslania.com </a></div>

                        <div class="b-trigger__text-wrapper">
                            <div class="b-trigger__text">Kirjakauppa Ruslania sijaitsee Helsingin keskustassa, Cafe Ekbergin vieress&auml;. Myym&auml;l&auml; on avoinna arkisin 9-18 ja lauantaisin 10-16.</div>

                            <div class="b-trigger__text">Sunnuntaisin suljettu.</div>

                            <div class="b-trigger__text">Ruslanian Bulevardin myym&auml;l&auml; on avoinna koko kes&auml;n, my&ouml;s lauantaisin klo 10-16.</div>

                            <div class="b-trigger__text">Kirjakauppa ei ole varsinaisesti esteet&ouml;n, mutta py&ouml;r&auml;tuolilla liikkuvat ja lastenrattaiden kanssa liikkeell&auml; olevatkin p&auml;&auml;sev&auml;t sis&auml;&auml;n, pyyd&auml; henkil&ouml;kuntaa apuun!</div>
                        </div>
                    </div>

                    <div class="b-trigger__contacts-map">Добавитькарту</div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>